<mat-card>
    <mat-card-header>
        <mat-card-title>Novo Compromisso</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="input" id="nome">
            <mat-label for="nome">Nome do Compromisso:</mat-label>
            <input matInput type="text" name="nome" [(ngModel)]="nome" />
        </mat-form-field>
        <mat-form-field class="input" id="descricao">
            <mat-label for="descricao">Descrição:</mat-label>
            <input
                matInput
                type="text"
                name="descricao"
                [(ngModel)]="descricao"
            />
        </mat-form-field>
        <mat-form-field class="input" id="importancia">
            <mat-label for="importancia">Importância:</mat-label>
            <mat-select name="importancia" [(ngModel)]="importanciaId">
                <mat-option
                    *ngFor="let importancia of importancia"
                    value="{{ importancia.id }}"
                >
                    {{ importancia.nome }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card-content>
    <button mat-raised-button color="warn" (click)="alterar()">
        Cadastrar
    </button>
</mat-card>
