<a mat-raised-button color="primary" routerLink="/compromisso/listar">
    <mat-icon mat-list-icon>home</mat-icon>Todos Compromissos</a>

<table mat-table [dataSource]="fonteDados" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let compromisso">{{ compromisso.id }}</td>
    </ng-container>
    <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let compromisso">{{ compromisso.nome }}</td>
    </ng-container>
    <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let compromisso">{{ compromisso.descricao }}</td>
    </ng-container>
    <ng-container matColumnDef="importancia">
        <th mat-header-cell *matHeaderCellDef>Importância</th>
        <td mat-cell *matCellDef="let compromisso">
            {{ compromisso.importancia!.nome }}
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunasExibidas"></tr>
    <tr mat-row *matRowDef="let row; columns: colunasExibidas"></tr>
</table>

<a mat-raised-button color="accent" routerLink="/compromisso/alterar">Alterar</a>

<a mat-raised-button color="warn" routerLink="/compromisso/deletar">Deletar</a>

