<!--
<mat-grid-list cols="5" rowHeight="1:1" [gutterSize]="'16px'">
    <mat-grid-tile *ngFor="let compromisso of compromisso">
        <mat-card>
            <img
                mat-card-image
                src="assets/images/sem-imagem.jpg"
                alt="{{ compromisso.descricao }}"
            />
            <mat-card-content>
                <mat-card-title>{{ compromisso.nome }}</mat-card-title>
               <mat-card-subtitle>
                    {{ compromisso.importancia!.nome }}
                </mat-card-subtitle>
            </mat-card-content>
            <mat-card-actions>
                <button
                    mat-stroked-button
                    color="warn"
                    mat-button
                    (click)="adicionar(compromisso)"
                >
                    Ver
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>-->

<!--
<mat-card>
    <button mat-raised-button color="primary" (click)="login()">Login</button>
</mat-card>-->
<mat-card>
    <button mat-raised-button color="primary" (click)="cadastrar()">Cadastrar</button>
</mat-card>
