<!--<mat-grid-list cols="5" rowHeight="1:1" [gutterSize]="'16px'">
    <mat-grid-tile *ngFor="let compromisso of compromisso">
        <mat-card>
            <img
                mat-card-image
                src="assets/images/sem-imagem.jpg"
                alt="{{ compromisso.descricao }}"
            />
            <mat-card-content>
                <mat-card-title>{{ compromisso.nome }}</mat-card-title>
               <mat-card-subtitle>
                    {{ compromisso.preco | currency: "BRL" }}
                </mat-card-subtitle>
            </mat-card-content>
            <mat-card-actions>
                <button
                    mat-stroked-button
                    color="warn"
                    mat-button
                    (click)="adicionar(compromisso)"
                >
                    Adicionar
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
-->

<h3 class="text-center">Login</h3>

<form class="form mt-4">

    <div class="form-group">
        <input 
            class="form-control" 
            placeholder="user name" 
            autofocus>  
    </div>

    <div class="form-group">
        <input
            type="password" 
            class="form-control" 
            placeholder="password">              
    </div>

    <button 
        type="submit" 
        class="btn btn-primary btn-block">
        login
    </button>

</form>

<p>Not a user?<a>Register now</a></p>